@model KulinarstvoASP.Models.Kategorija
@{
	ViewData["Title"] = "Nova kategorija";
}

<h2 class="text-center mb-4">Dodaj novu kategoriju</h2>

<div class="row justify-content-center">
	<div class="container border border-primary p-4 col-7 bg-light">
		<form asp-action="Create" method="post">
			<div class="form-group mt-2">
				<label asp-for="Naziv" class="form-label">Naziv kategorije:</label>
				<input type="text" asp-for="Naziv" class="form-control" placeholder="Unesite naziv kategorije"/>
			</div>

			<div class="form-group mt-2">
				<label asp-for="Opis" class="form-label">Opis kategorije:</label>
				<textarea asp-for="Opis" class="form-control" placeholder="Unesite opis kategorije"></textarea>
			</div>

			<div class="d-flex justify-content-center mt-3">
				<button type="submit" class="btn btn-primary">Kreiraj</button>
			</div>
		</form>
	</div>
</div>