@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-4">Dobrodošli na našu platformu za recepte i kulinarske zajednice! 🍽️</h1>
    <p class="display-6 mt-3">Ovde počinje vaša kulinarska avantura!</p>
</div>
