@model KulinarstvoASP.Models.Recept
@{
	ViewData["Title"] = "Izmena recepta";
}

<h2 class="text-center mb-4">Izmeni recept</h2>


<div class="row justify-content-center">
	<div class="container border border-info col-9 p-3 rounded-3 bg-light">
		<form asp-action="Edit" method="post">
			<div class="row justify-content-around">
				<div class="col-6 p-3">
					<div class="form-group mt-2">
						<label asp-for="Naziv" class="form-label">Naziv recepta:</label>
						<input type="text" asp-for="Naziv" class="form-control" placeholder="Unesite naziv recepta" />
					</div>
					<div class="form-group mt-2">
						<label asp-for="TrajanjeSpremanja" class="form-label">Trajanje spremanja:</label>
						<input type="number" asp-for="TrajanjeSpremanja" class="form-control" placeholder="Unesite trajanje spremanja u minutima" />
					</div>
					<div class="form-group mt-2">
						<label asp-for="TrajanjeKuvanja" class="form-label">Trajanje kuvanja:</label>
						<input type="number" asp-for="TrajanjeKuvanja" class="form-control" placeholder="Unesite trajanje kuvanja u minutima" />
					</div>
					<div class="form-group mt-2">
						<label asp-for="Slika" class="form-label">URL slike:</label>
						<input type="text" asp-for="Slika" class="form-control" placeholder="Unesite URL slike za recept" />
					</div>
				</div>
				<div class="col-6 p-3">
					<div class="form-group mt-2">
						<label asp-for="Opis" class="form-label">Opis recepta:</label>
						<textarea asp-for="Opis" class="form-control" placeholder="Unesite opis recepta"></textarea>
					</div>
					<div class="form-group mt-2">
						<label asp-for="Instrukcije" class="form-label">Instrukcije za pravljenje:</label>
						<textarea asp-for="Instrukcije" class="form-control" placeholder="Unesite instrukcije"></textarea>
					</div>
					<div class="form-group mt-2">
						<label asp-for="KategorijaId" class="form-label">Kategorija:</label>
						@Html.DropDownListFor(Model => Model.KategorijaId, (SelectList)ViewBag.Kategorije, "--Izaberite kategoriju--", new { @class = "form-control" })
						@Html.ValidationMessageFor(Model => Model.KategorijaId)
					</div>
				</div>
			</div>

			<div class="row justify-content-center mt-3">
				<div class="col-auto">
					<button type="submit" class="btn btn-info">Izmeni</button>
				</div>
			</div>
		</form>
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	</div>
</div>
